{% extends 'catalog/index.html' %}
{% load product_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="col-12 mb-5">
        <a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить продукт</a>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for item in object_list %}
        <div class="col">
          <div class="card shadow-sm">
            <img class="card-img-top" src="{{ item.picture | picture_filter }}">
            <div class="card-body">
              <p class="card-text">{{ item.name }}</p>
              <p class="card-text">{{ item.description|slice:100 }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="{% url 'catalogs:product_info' item.pk %}" role="button">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
        </div>
          {% endfor %}
      </div>
    </div>
</div>
{% endblock %}